

.container {
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.block {
    height: 200px;
    display:inline-block;

}

.text {
    text-align: center;
    background-color: aqua;
    color: aqua;
}

.block:hover .content {
    background-color: #14141480;
    transition-delay: 0.3s;
}

.image {
    width: 200px;
    height: 350px;
}

.block:hover .image {
    transform: scale(1.1);
}
