.clock {    
    margin: 50px;
    position: relative;
    width: 230px;
    height: 230px;
    border: 2px solid #3f4fc8;
    border-radius: 100%;
}

.hour-hand {
    width: 4px;
    height: 60px;
    top: 23%;
    left: 49%;
}

.minute-hand {
    width: 3px;
    height: 80px;
    top: 16%;
    left: 49%;
}

.dot{
    margin: 110px 108px;
    width: 8px;
    height: 8px;
    border: 2px solid #3f4fc8;
    border-radius: 100%;
    background-color: #3f4fc8;
}


.hour-hand, .minute-hand {
    position: absolute;
    background: #3f4fc8;
    transform-origin: bottom center;
}

@keyframes hourAnimation {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes minuteAnimation {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.hour-hand {
    animation: hourAnimation 144s linear infinite;
}

.minute-hand {
    animation: minuteAnimation 12s linear infinite;
}
